.button {
   border-radius: 15px;
   background-color: #B0B0B0;
   font-size: 65px;
   font-family: 'Comfortaa', sans-serif;
   font-weight: bold;
   padding-left: 25px;
   padding-right: 25px;
   cursor: pointer;
}

button:disabled {
   cursor: default
}