.wrapper {
   border-radius: 15px;
   border: #B0B0B0, solid, 5px;
   margin: 100px;
}

.elements1 {
   border-radius: 10px;
   border: #B0B0B0, solid, 5px;
   margin: 30px;
   height: 250px;
   font-size: 50px;
   display: grid;
   grid-template-areas: "A B"
                        "C D";
}

.maxValue {
   color: #B0B0B0;
   grid-area: A;
   margin: auto;
}

.divInputMaxValue {
   grid-area: B;
   margin: auto;
}

.inputValueError {
   border: #a10202, solid, 10px;
   background-color: #c96767;
}

input {
   height: 40px;
   width: 200px;
   font-size: 25px;
   text-align: center;
   border-radius: 10px;
   border: #B0B0B0, solid, 10px;
   background-color: #fcfcfc;
}

.startValue {
   color: #B0B0B0;
   grid-area: C;
   margin: auto;
}

.divInputStartValue {
   grid-area: D;
   margin: auto;
}

.inputStartValueError {
   border: #a10202, solid, 10px;
   background-color: #c96767;
}

.elements2 {
   border-radius: 10px;
   border: #B0B0B0, solid, 5px;
   margin: 30px;
   height: 150px;
   display: grid;
   justify-items: center;
   align-items: center;
}