.wrapper {
   border-radius: 15px;
   border: #B0B0B0, solid, 5px;
   margin: 100px;
   height: auto;
}

.elements1 {
   border-radius: 15px;
   border: #B0B0B0, solid, 5px;
   margin: 30px;
   height: 250px;
   font-size: 100px;
   display: grid;
   justify-items: center;
   align-items: center;
}

.strValueError {
   font-size: 50px;
   color: #a10202;
}

.strValue {
   font-size: 50px;
   color: #B0B0B0;
}

.numValueError {
   color: #a10202;
   font-size: 135px;
}

.numValue {
   color: #B0B0B0;
   margin: 0px auto;
}

.elements2 {
   border-radius: 15px;
   border: #B0B0B0, solid, 5px;
   margin: 30px;
   height: 150px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   align-items: center;
}